.container {
    margin-top: 50px;
    width: 100%;
    height: auto;
    padding: 10px;
    /* position: relative; */
}

.containers {
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    height: 150px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 30px;
    /* position: absolute; */
    margin-left: 155px;
}